.progressBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.segment {
  flex: 1;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background-color: #f3f3f3;
  margin: 0 2px;
}

.green {
  background-color: #4caf50;
}

.yellow {
  background-color: #ffeb3b;
}

.red {
  background-color: #f44336;
}
