.progressBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.segment {
  flex: 1;
  height: 20px;
  background-color: #f3f3f3;
  margin: 0 2px;
}

.filled {
  background-color: white;
}

.progressBar.green {
  background-color: #4caf50;
}

.progressBar.yellow {
  background-color: #ffeb3b;
}

.progressBar.red {
  background-color: #f44336;
}
